/* html,
body {
  max-width: 100%;
  overflow-x: hidden;
} */

.slider-wrapper {
  /* display: inline-block; */
  width: 120px;
  height: 0px;
  /* padding: 20px; */
  position: absolute;
  pointer-events: none;

  /* top: 830px; */
  top: 400px;
  /* left: 64.4%; */
  left: 25.1%;
}

.slider-wrapper input {
  width: 500px;
  height: 4px;
  top: 0px;
  transform: rotate(270deg);
  -webkit-appearance: none;
  background-color: transparent;
  pointer-events: none;
  transform-origin: bottom right;
}

.slider-wrapper input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  pointer-events: all;
  cursor: pointer;
}

.shoulder.slider-wrapper input::-webkit-slider-thumb {
  background: rgb(135, 151, 243);
}

.waist.slider-wrapper input::-webkit-slider-thumb {
  background: rgb(160, 240, 135);
}

.hip.slider-wrapper input::-webkit-slider-thumb {
  background: rgb(236, 95, 95);
}

.emptyDiv {
  height: 450px;
}

.imagewrapper {
  position: absolute;
  /* right: 10%; */
  left: 65%;
  /* top: 330px; */
  top: 400px;
  /* padding-bottom: 5vw; */
  /* border: 2px solid black; */
  padding-bottom: 2px;
}

.imagewrapper > p {
  font-size: 0;
}

.examplewrapper {
  position: absolute;
  left: 5%;
  top: 400px;
}

.examplewrapper > p {
  font-size: 0;
}

.exampletext {
  position: absolute;
  top: 920px;
  left: 10%;
  font-size: 30px;
}

.nilwrapper {
  position: absolute;
  right: 10%;
  /* top: 330px; */
  top: 400px;
  width: 30vw;
  height: 30vw;
  outline-style: dashed;
  outline-color: black;
  background-color: white;
  opacity: 30%;
  font-size: 2.2vw;
  text-align: center;
  padding: 12vw 0;
}

.nilwrapper > div {
  display: none;
}

.postimage {
  height: 500px;
}

.shoulderline {
  /* position: relative; */
  height: 2px;
  background: rgb(135, 151, 243);
  position: absolute;
  width: 100%;
}

.waistline {
  /* position: relative; */
  height: 2px;
  background: rgb(160, 240, 135);
  position: absolute;
  width: 100%;
}

.hipsline {
  /* position: relative; */
  height: 2px;
  background: rgb(236, 95, 95);
  position: absolute;
  width: 100%;
}

.colour {
  position: relative;
  left: 40%;
  width: 215px;
  height: 75px;
  /* border: black 2px solid; */
  text-align: center;
  line-height: 20px;
  border-radius: 10px;
}

.blue {
  top: 58px;
  background: rgb(135, 151, 243);
}

.green {
  top: 158px;
  background: rgb(160, 240, 135);
}

.red {
  top: 258px;
  background: rgb(236, 95, 95);
  height: 55px;
}

.colourtext {
  position: relative;
  font-size: 20px;
  top: 3px;
}

.colourcap {
  position: absolute;
  top: 25px;
  left: 10%;
  right: 10%;
  color: rgb(56, 56, 56);
}

/* @media screen and (max-width: 960px) {
  .nilwrapper {
    position: absolute;
    left: 10%;
    top: 600px;
    width: 300px;
    height: 300px;
    padding-bottom: 50px;
    outline-style: dashed;
    outline-color: black;
    background-color: white;
    opacity: 30%;
    font-size: 24px;
    text-align: center;
    padding: 100px 0;
    transition: 2ms ease-out;
  }

  .nilwrapper > div {
    display: none;
  }

  .imagewrapper {
    position: absolute;
    right: 20%;
    top: 600px;
  }

  .imagewrapper > p {
    font-size: 0;
  }

  .shoulderline {
    position: relative;
    height: 2px;
    background: black;
  }

  .waistline {
    position: relative;
    height: 2px;
    background: black;
  }

  .hipsline {
    position: relative;
    height: 2px;
    background: black;
  }
  .emptyDiv {
    height: 650px;
  }
} */
